<div id="bottomPart">
<div class="container">
    <p>
    <h1 id="scrapeTitle">Scraped Articles</h1>
{{#if articles}}
    {{#each articles}}
    <div id="eachPanel" class="panel panel-default">
        <div class="panel-heading">
            <h4><a href={{this.link}} target="_blank">{{this.title}}</a></h4>
        </div>
        <div class="panel-body">
            <p> 
                {{this.syn}}
                <button type="button" id="saveartBtn" class="btn save" data-id={{this._id}}>Save Article</button>
            </p>
        </div>
    </div>
    {{/each}}

{{else}}
<div class="panel panel-default">
    <div class="panel-body">
    <h4 id="subTitle">Try clicking the scrape new articles button!</h4>
    </div>
    </div>
{{/if}}
</div>
</div>